<app-header></app-header>

<div class="continer">
  <div class="full-width gr-1">
    <div class="continer-inner flex justify-left align-center">
      <div class="main-block">
        <div class="left-box">
            <h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </h2>
            <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="form-box">
                <form>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput type="text" placeholder="First Name"/>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput type="text" placeholder="Last Name"/>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput type="number" placeholder="Mobile Number"/>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput type="email" placeholder="Email Address (Optional)"/>
                    </mat-form-field>
                    <span class="check-wrap">
                            <input type="checkbox" formControlName="monday" />
                            <label class="label">Agree to Green Army <span>Terms & Conditions</span></label>
                    </span>
                    <div class="btn-block">
                        <button class="prim-btn" mat-button>SIGN UP AS AN EMPLOYEE</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>