<app-header></app-header>

<div class="continer">
  <div class="full-width gr-1">

    <div class="continer-inner flex justify-left align-center">
        <div class="main-block">
      <div class="left-box">
        <h2>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </h2>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <div class="btn-block">
          <button class="prim-btn" mat-button>SIGN UP</button>
          <button class="secon-btn" mat-button>LEARN MORE</button>
        </div>
      </div>

      <div class="right-box">
        <img width="100" height="70" src="../../../assets/image-icon.png" />

      </div>
      </div>

    </div>
  </div>


</div>

<div class="continer">
  <div class="full-width">
    <div class="continer-inner flex flex-col justify-left align-center pv-30">
      <div class="main-block pv-20">
        <div class="left-box">
          <span class="gray-box">
            <img width="100" height="70" src="../../../assets/image-icon.png" />
          </span>
        </div>


        <div class="right-box">



          <h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </h3>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>


        </div>
      </div>

      <div class="main-block pv-20">
        <div class="left-box">

          <h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </h3>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>

        </div>


        <div class="right-box">


          <span class="gray-box">
            <img width="100" height="70" src="../../../assets/image-icon.png" />
          </span>



        </div>
      </div>

      <div class="main-block pv-20">
        <div class="left-box">
          <span class="gray-box">
            <img width="100" height="70" src="../../../assets/image-icon.png" />
          </span>
        </div>


        <div class="right-box">



          <h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </h3>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>


        </div>
      </div>

    </div>
  </div>
</div>

<div class="continer">
  <div class="full-width br-2">
    <div class="continer-inner pv-30">
      <h1>Discover Jobs On Green Army</h1>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <div class="filter-box">
        <mat-form-field appearance="fill">

          <mat-select placeholder="Select NGO">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">

          <mat-select placeholder="Select State">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">

          <mat-select placeholder="Select target community">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">

          <mat-select placeholder="Select category">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>

        <button class="secon-btn filter-btn" mat-button>FILTER</button>
      </div>
      <span>Showing 6 / 18 results</span>

      <div class="job-box-main">
        <div class="job-box">

          <div class="job-box-top">
            <img width="60" height="45" src="../../../assets/image-icon.png" />

            <span>
              <img width="30" height="22" src="../../../assets/image-icon.png" />
            </span>
          </div>
          <div class="wh-box">
            <div class="job-title">
              <h4>Job Title</h4>
              <div class="co-na"><span>Company Name</span><span>Location</span></div>
            </div>
            <div class="dt-ti">
              <span>000 Openings</span>
              <span>DD/MM/YY to DD/MM/YY</span>
            </div>
            <div class="dis-cr">
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons…
              </p>
            </div>
            <div class="pri-wi-ti">
              <span>RM0000</span>for 14 Days
            </div>
            <div class="botton-btn-box">
              <button class="prim-btn" mat-button>VIEW JOB</button>
              <span class="apply-mo">Apply by DD Month Year</span>
            </div>
          </div>
        </div>

        <div class="job-box">

          <div class="job-box-top">
            <img width="60" height="45" src="../../../assets/image-icon.png" />

            <span>
              <img width="30" height="22" src="../../../assets/image-icon.png" />
            </span>
          </div>
          <div class="wh-box">
            <div class="job-title">
              <h4>Job Title</h4>
              <div class="co-na"><span>Company Name</span><span>Location</span></div>
            </div>
            <div class="dt-ti">
              <span>000 Openings</span>
              <span>DD/MM/YY to DD/MM/YY</span>
            </div>
            <div class="dis-cr">
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons…
              </p>
            </div>
            <div class="pri-wi-ti">
              <span>RM0000</span>for 14 Days
            </div>
            <div class="botton-btn-box">
              <button class="prim-btn" mat-button>VIEW JOB</button>
              <span class="apply-mo">Apply by DD Month Year</span>
            </div>
          </div>
        </div>


        <div class="job-box">

          <div class="job-box-top">
            <img width="60" height="45" src="../../../assets/image-icon.png" />

            <span>
              <img width="30" height="22" src="../../../assets/image-icon.png" />
            </span>
          </div>
          <div class="wh-box">
            <div class="job-title">
              <h4>Job Title</h4>
              <div class="co-na"><span>Company Name</span><span>Location</span></div>
            </div>
            <div class="dt-ti">
              <span>000 Openings</span>
              <span>DD/MM/YY to DD/MM/YY</span>
            </div>
            <div class="dis-cr">
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons…
              </p>
            </div>
            <div class="pri-wi-ti">
              <span>RM0000</span>for 14 Days
            </div>
            <div class="botton-btn-box">
              <button class="prim-btn" mat-button>VIEW JOB</button>
              <span class="apply-mo">Apply by DD Month Year</span>
            </div>
          </div>
        </div>


        <div class="job-box">

          <div class="job-box-top">
            <img width="60" height="45" src="../../../assets/image-icon.png" />

            <span>
              <img width="30" height="22" src="../../../assets/image-icon.png" />
            </span>
          </div>
          <div class="wh-box">
            <div class="job-title">
              <h4>Job Title</h4>
              <div class="co-na"><span>Company Name</span><span>Location</span></div>
            </div>
            <div class="dt-ti">
              <span>000 Openings</span>
              <span>DD/MM/YY to DD/MM/YY</span>
            </div>
            <div class="dis-cr">
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons…
              </p>
            </div>
            <div class="pri-wi-ti">
              <span>RM0000</span>for 14 Days
            </div>
            <div class="botton-btn-box">
              <button class="prim-btn" mat-button>VIEW JOB</button>
              <span class="apply-mo">Apply by DD Month Year</span>
            </div>
          </div>
        </div>


        <div class="job-box">

          <div class="job-box-top">
            <img width="60" height="45" src="../../../assets/image-icon.png" />

            <span>
              <img width="30" height="22" src="../../../assets/image-icon.png" />
            </span>
          </div>
          <div class="wh-box">
            <div class="job-title">
              <h4>Job Title</h4>
              <div class="co-na"><span>Company Name</span><span>Location</span></div>
            </div>
            <div class="dt-ti">
              <span>000 Openings</span>
              <span>DD/MM/YY to DD/MM/YY</span>
            </div>
            <div class="dis-cr">
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons…
              </p>
            </div>
            <div class="pri-wi-ti">
              <span>RM0000</span>for 14 Days
            </div>
            <div class="botton-btn-box">
              <button class="prim-btn" mat-button>VIEW JOB</button>
              <span class="apply-mo">Apply by DD Month Year</span>
            </div>
          </div>
        </div>


        <div class="job-box">

          <div class="job-box-top">
            <img width="60" height="45" src="../../../assets/image-icon.png" />

            <span>
              <img width="30" height="22" src="../../../assets/image-icon.png" />
            </span>
          </div>
          <div class="wh-box">
            <div class="job-title">
              <h4>Job Title</h4>
              <div class="co-na"><span>Company Name</span><span>Location</span></div>
            </div>
            <div class="dt-ti">
              <span>000 Openings</span>
              <span>DD/MM/YY to DD/MM/YY</span>
            </div>
            <div class="dis-cr">
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons…
              </p>
            </div>
            <div class="pri-wi-ti">
              <span>RM0000</span>for 14 Days
            </div>
            <div class="botton-btn-box">
              <button class="prim-btn" mat-button>VIEW JOB</button>
              <span class="apply-mo">Apply by DD Month Year</span>
            </div>
          </div>
        </div>

      

      </div>
      <div class="pegination-main">
      <div class="pegination">
        <button mat-button class="inactive">
          PREVIOUS
        </button>
        <button mat-button class="active-btn">
          1
        </button>
        <button mat-button>
          2
        </button>
        <button mat-button>
          3
        </button>
        <button mat-button class="active">
          NEXT
        </button>
      </div>
    </div>

    </div>
  </div>
</div>

<div class="continer">
    <div class="full-width gr-1">
  
      <div class="continer-inner flex justify-left align-center">
  <div class="main-block">
        <div class="left-box">
            <img width="100" height="70" src="../../../assets/image-icon.png" />
     
        </div>
  
        <div class="right-box">
            <h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
              </h2>
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
              <div class="btn-block">
                <button class="prim-btn" mat-button>SIGN UP</button>
                <button class="secon-btn" mat-button>LEARN MORE</button>
              </div>
  
        </div>
    </div>
  
      </div>
    </div>
  
  
  </div>

  <div class="continer">
    <div class="full-width">
  
      <div class="continer-inner">

        <h1>Discover Jobs On Green Army</h1>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <div class="main-block pv-20">
            <div class="left-box">
              <span class="gray-box">
                <img width="100" height="70" src="../../../assets/image-icon.png" />
              </span>
            </div>
    
    
            <div class="right-box">
    
    
    
              <h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </h3>
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
    
    
            </div>
          </div>
    

        </div>
        </div>
        </div>
  
