<app-header></app-header>

<div class="continer">
  <div class="full-width br-5">
    <div class="continer-inner flex justify-space-between pv-40 align-center">
      <div class="welcome-box">
        <h2>Welcome, <br> <span>Sabri Zainuddin</span> </h2>

      </div>

      <button mat-button class="prim-btn certifi-btn">
        MY CERTIFICATIONS
      </button>

    </div>
  </div>
</div>


<div class="continer">
  <div class="full-width">
    <div class="continer-inner flex flex-col">
        <div class="heading-box-main">
        <div class="heading-box">
      <h1>Your Profile</h1>
      <p class="wi-third-forth">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
</div>

      <div>
        <button mat-button class="prim-btn width-100px">SAVE</button>
        <button mat-button class="cancel-btn width-100px"> CANCEL</button>

    </div>
    </div>



      <div class="profile-block">

        <div class="img-block">
          <img width="100" height="100" src="../../../assets/img-icon.svg" />

          <button mat-button class="thred-btn">UPLOAD IMAGE</button>

        </div>

        <div class="first-input-box">

          <div class="form-box width-90">
            <form>
              <div class="row">
                <div class="form-field width-one-third">
                  <mat-label>First Name <span>*</span></mat-label>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput type="text" placeholder="First Name" />
                  </mat-form-field>
                </div>
                <div class="form-field width-one-third">
                  <mat-label>Last Name <span>*</span></mat-label>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput type="text" placeholder="Last Name" />
                  </mat-form-field>
                </div>
                <div class="form-field width-one-third">
                  <mat-label>Mobile Number <span>*</span></mat-label>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput type="text" placeholder="Email Address" />
                  </mat-form-field>
                </div>
                <div class="form-field wi-half">
                  <mat-label>Email <span>*</span></mat-label>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput type="email" placeholder="Email Address" />
                  </mat-form-field>
                </div>
              </div>


            </form>
          </div>
        </div>


      </div>


      <div class="profile-block">


        <div class="first-input-box">

          <div class="form-box">
            <form>
              <div class="row">
                <div class="form-field width-one-third">
                  <mat-label>NRIC Number <span>*</span></mat-label>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput type="text" placeholder="First Name" />
                  </mat-form-field>
                </div>
                <div class="form-field width-one-third">
                  <mat-label>Gender <span>*</span></mat-label>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput type="text" placeholder="Last Name" />
                  </mat-form-field>
                </div>

                <div class="form-field width-full form-field-half">
                  <mat-label>Address <span>*</span></mat-label>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput type="test" placeholder="Email Address" />
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput type="test" placeholder="Email Address" />
                  </mat-form-field>
                </div>

                <div class="form-field width-one-third">
                  <mat-label>Postcode <span>*</span></mat-label>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput type="text" placeholder="First Name" />
                  </mat-form-field>
                </div>
                <div class="form-field width-one-third">
                  <mat-label>City <span>*</span></mat-label>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput type="text" placeholder="Last Name" />
                  </mat-form-field>
                </div>
                <div class="form-field width-one-third">
                  <mat-label>State <span>*</span></mat-label>
                  <mat-form-field class="example-full-width" appearance="fill">
                  <mat-select matInput placeholder="Select City">
                    <mat-optgroup>
                      <mat-option></mat-option>
                      <mat-option></mat-option>
                    </mat-optgroup>
                  </mat-select>
                  </mat-form-field>
                </div>
              </div>


            </form>
          </div>
        </div>

     


      </div>




      <div class="profile-block">

      <div class="first-input-box">

        <div class="form-box">
          <form>
            <div class="row">
            

              <div class="form-field wi-half">
                <mat-label>Bank name <span>*</span></mat-label>
                <mat-form-field class="example-full-width" appearance="fill">
                  <input matInput type="test" placeholder="Email Address" />
                </mat-form-field>
               
              </div>

              <div class="form-field width-one-third">
                <mat-label>Bank Account Number <span>*</span></mat-label>
                <mat-form-field class="example-full-width" appearance="fill">
                  <input matInput type="text" placeholder="First Name" />
                </mat-form-field>
              </div>
      
         
            </div>


          </form>
        </div>
      </div>

</div>

<div class="profile-block">

    <div class="first-input-box">

      <div class="form-box">
        <form>
          <div class="row">
          


            <div class="form-field width-one-third">
              <mat-label>Vaccination Status <span>*</span></mat-label>
              <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" placeholder="First Name" />
              </mat-form-field>
            </div>


            <div class="form-field wi-half upload-box">
                <mat-label>Vaccine Certificate <span>*</span></mat-label>
                <mat-form-field class="example-full-width" appearance="fill">
                  <input matInput type="text" placeholder="Email Address" />
                  <button mat-button class="upload-btn"> <img width="25" height="15" src="../../../assets/upload-icon.svg"/></button>
                </mat-form-field>
               
              </div>
    
       
          </div>


        </form>
      </div>
    </div>

</div>


    </div>
  </div>
</div>

<div class="continer">
    <div class="full-width">
      <div class="continer-inner flex flex-col pv-0 pb-80">

        <h1>Your Preferences</h1>
        <p class="wi-third-forth">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
  

   
        <div class="perf-box">
            <section>
                <mat-checkbox>Email</mat-checkbox>
                <mat-checkbox>SMS</mat-checkbox>
              </section>
        </div>

        <div class="bottom-btn">
            <button mat-button class="prim-btn width-100px">SAVE</button>
            <button mat-button class="cancel-btn width-100px"> CANCEL</button>
        </div>

        </div>
        </div>
        </div>



<app-footer></app-footer>
