<div class="continer">
  <div class="header-continer-inner">
    <header>
      <div class="header-inner">
        <img width="170" height="25" src="../../../assets/logo.png" />

<nav>
    <button mat-button>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve">
<g>
<path style="fill:#149818;" d="M472.8,128H23.2C10.4,128,0,116.8,0,104s10.4-24,23.2-24h449.6c12.8,0,23.2,11.2,23.2,24
    C496,116.8,485.6,128,472.8,128z"/>
<path style="fill:#149818;" d="M472.8,272H23.2C10.4,272,0,260.8,0,248c0-12.8,10.4-24,23.2-24h449.6c12.8,0,23.2,11.2,23.2,24
    C496,260.8,485.6,272,472.8,272z"/>
<path style="fill:#149818;" d="M472.8,416H23.2C10.4,416,0,404.8,0,392s10.4-24,23.2-24h449.6c12.8,0,23.2,11.2,23.2,24
    C496,404.8,485.6,416,472.8,416z"/>
</g>
<g>
<path style="fill:#96D198;" d="M472.8,368h-108l46.4,48H472c12.8,0,23.2-11.2,23.2-24C496,379.2,485.6,368,472.8,368z"/>
<path style="fill:#96D198;" d="M472.8,224H222.4l46.4,48H472c12.8,0,23.2-11.2,23.2-24C495.2,235.2,485.6,224,472.8,224z"/>
<path style="fill:#96D198;" d="M472.8,80H80l46.4,48H472c12.8,0,23.2-11.2,23.2-24C496,91.2,485.6,80,472.8,80z"/>
</g>

</svg>
    </button>
    <ul>
     
        <li class="active">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Link</a>
        </li>
        <li>
            <a href="#">Link</a>
        </li>
    </ul>
</nav>
</div>
<form>

    
      <input matInput type="search" placeholder="Search Jobs">
  <div class="for-responsive-only">
      <div class="lang-btn">
          <button>
              BM
          </button>
          <button class="active">
            EN
        </button>
      </div>
      <div class="Login-btn">
          <button mat-button>LOGIN</button>
      </div>
      <button class="empl-btn" mat-button>FOR EMPLOYERS</button>
    </div>
    </form>
</header>

        <div class="lang-btn">
          <button>BM</button>
          <button class="active">EN</button>
        </div>
        <div class="Login-btn">
          <button mat-button>LOGIN</button>
        </div>
        <button class="empl-btn" mat-button>FOR EMPLOYERS</button>
      </form>
    </header>
  </div>
</div>
