<div class="continer">
    <div class="header-continer-inner">
        <header>
        <div>
<img width="209" height="28" src="../../../assets/logo.png"/>

<nav>
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Link</a>
        </li>
        <li>
            <a href="#">Link</a>
        </li>
    </ul>
</nav>

<form>
    <mat-form-field>
    
      <input matInput type="search" placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
    </form>
    </div>

</div>
