<div class="continer">
  <div class="header-continer-inner">
    <header>
      <div class="header-inner">
        <img width="170" height="25" src="../../../assets/logo.png" />

        <nav>
          <ul>
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Link</a>
            </li>
            <li>
              <a href="#">Link</a>
            </li>
          </ul>
        </nav>
      </div>
      <form>
        <input matInput type="search" placeholder="Search Jobs" />

        <div class="lang-btn">
          <button>BM</button>
          <button class="active">EN</button>
        </div>
        <div class="Login-btn">
          <button mat-button>LOGIN</button>
        </div>
        <button class="empl-btn" mat-button>FOR EMPLOYERS</button>
      </form>
    </header>
  </div>
</div>
