<app-header></app-header>

<div class="continer">
    <div class="full-width br-2">
        <div class="box">
            <h1>Verification Code</h1>
            <p class="wi-third-forth">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            <div class="login-form">
                <input formControlName="icNumber" matInputtype="text" placeholder="Verification Code"/>
            </div>
            <div>
                <button class="prim-btn" mat-button>LOGIN</button>
            </div>
            <div class="not-receive">
                Resend in 30s
              </div>
        </div>
    </div>
</div>