<app-header></app-header>

<div class="continer">
    <div class="full-width br-2">
        <div class="box">
            <h1>Employee Login</h1>
            <p class="wi-third-forth">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            <div class="login-form">
                <input formControlName="icNumber" matInputtype="text" placeholder="Mobile Number"/>
            </div>
            <div>
                <button class="prim-btn" mat-button>NEXT</button>
            </div>
            <div class="not-receive">
                Don’t have an account? <span>Sign Up</span>
              </div>
        </div>
    </div>
</div>