app-header{
    opacity: 0.2;
}
.box {
    background: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}
.br-2{
    padding: 95px;
}

.continer{
    text-align: center;
    .full-width{
        float: none;
    }
    h1{
        font-weight: 600;
        margin: 15px 0;
    }
    p{
        font-size: 14px;
        color: #969696;
        margin: 0 auto;
        max-width: 250px;
        width: 100%;
    }
    button {
        width: 100%;
        max-width: 150px;
        border: none;
        height: 50px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        border-radius: 6px;
        margin-bottom: 20px;
    }
    .not-receive {
        color: #8F9091;
        font-size: 16px;
    }
    .box-logo{
        border-bottom: 1px solid #CBD0D3;
        padding: 20px;
    }
    .error{
        padding: 60px 0;
    }
}
