<footer>
<div class="footer">
    <div class="footer-inner">
        <img width="170" height="20" src="../../../assets/logo.png"/>
    </div>

    <div class="footer-inner">
<label>USEFUL LINKS</label>
<ul>
    <li><a href="#">Green Army Link</a></li>
    <li><a href="#">Green Army Link</a></li>
    <li><a href="#">Green Army Link</a></li>
</ul>


        </div>

        <div class="footer-inner">
            <label>GREEN ARMY NEWS &amp; UPDATES</label>
<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons…</p>

<div class="subs-box">
    <input matInput placeholder="Email Address" type="email">
    <button mat-button>SUBSCRIBE</button>
</div>

        </div>

        <div class="footer-inner">
<img width="150" height="50" src="../../../assets/boustead-holdings-berhad-logo.svg"/>
<img width="60" height="50" src="../../../assets/plantations-logo.svg"/>


            </div>
</div>

</footer>
